html {
  margin: 0;
  font-size: 10px;
  font-family: $main-typo;
}

body {
  background: $white
}

ul, li {
  padding: 0px;
}

.clearfix::after {

  clear: both ;
  content: "" ;
  display: table ;
}

.wrapper {
  width: $mobile-wrapper;
  margin: 0 auto;

  @media (min-width: 50rem) {
    width: $tablet-wrapper;
   }

  @media (min-width: 108rem) {
   width: $desktop-wrapper;
  }
}
