.hero-background{
  height: 9rem;
}

.seach-box{
  height: 83px;
}

.seach-box-input{
  border-radius: 16px;
  border: none;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.404);
  font-family: $secondary-typo;
  font-size: $typo-s;
  height: 41px;
  margin-left: 19.3rem;
  margin-top: 1.5rem;
  outline: none;
  text-indent: 12px;
}

.seach-box-input::placeholder{
  color: rgb(189, 189, 189);
}

.recipe-box-img{
  height: 18rem;
}

.recipe-info{
  height: 16rem;
}

.recipe-info-title{
  display: inline;
  font-family: $typo-title;
  font-size: $typo-m;
}

.recipe-info-links{
  display: block;
  margin-left: 23rem;
}

.recipe-info-links a + a{
  padding-left: 2rem;
}

.recipe-info-description{
  font-family: $secondary-typo;
  font-size: $typo-s;
}
