// Typografic

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

$main-typo: 'Montserrat', sans-serif;
$secondary-typo: 'Poppins', sans-serif;
$typo-title: 'Montserrat', sans-serif;

// Colors

$white: #F6F7CD;
$ligh-green: #DFE49B;
$green: #9DB33E;
$primary-green: #264E2C;
$black: #292929;

// Size-Typography

$size: 1rem;

$typo-xs: $size;
$typo-s: $size * 1.5;
$typo-m: $size * 2;
$typo-l: $size * 2.5;
$typo-x: $size * 3;

// wrapper

$mobile-wrapper: $size * 35;
$tablet-wrapper: $size * 50;
$desktop-wrapper: $size * 108;
