@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
html {
  margin: 0;
  font-size: 10px;
  font-family: "Poppins", sans-serif; }

body {
  background: #F6F7CD;
  margin: 0; }

a {
  text-decoration: none; }

.gallery {
  display: flex;
  gap: 0.8rem;
  justify-content: space-around;
  margin-top: 3rem;
  position: absolute;
  right: 2rem;
  width: 90%; }
  .gallery img {
    border-radius: 0.5rem;
    width: 70%; }
    @media (min-width: 60rem) {
      .gallery img {
        width: 100%; } }
  @media (min-width: 60rem) {
    .gallery {
      align-self: flex-end;
      flex-direction: column;
      top: 90rem;
      right: 5rem;
      width: 30%; } }

.gallery__items {
  display: flex;
  flex-direction: column;
  gap: 0.8rem; }
  .gallery__items img {
    width: 90%; }
  @media (min-width: 60rem) {
    .gallery__items {
      flex-direction: row;
      gap: 1.2rem; }
      .gallery__items img {
        width: 31%;
        height: 31%; } }

.ad-book {
  display: flex;
  justify-content: center;
  margin-top: 40rem;
  width: 90%;
  position: relative; }
  @media (min-width: 30rem) {
    .ad-book {
      margin-top: 60rem; } }
  @media (min-width: 45rem) {
    .ad-book {
      margin-top: 75rem; } }
  @media (min-width: 60rem) {
    .ad-book {
      margin-top: 10rem;
      width: 50%; } }

.ad-book__img {
  border-radius: 2rem 0 0 2rem; }

.ad-book__text {
  font-size: 2rem;
  font-weight: 600;
  color: #264E2C; }

.header {
  height: 5.188rem;
  display: flex; }

.header-website-img {
  padding: 0.7rem; }

.header-website-name {
  color: #9DB33E;
  padding-top: 0.4rem; }

.header-website-menu {
  padding-top: 1.9rem;
  margin-left: 18rem; }

.logo {
  display: inline-flex; }
  .logo h2 {
    color: #9DB33E;
    font-family: "Poppins", sans-serif; }

.header__menu {
  display: inline-flex;
  float: right; }

.clearfix::after {
  clear: both;
  content: "";
  display: table; }

@media (min-width: 60rem) {
  #sidebar {
    background: rgba(0, 0, 0, 0.904);
    box-shadow: 0px 0px 20px 0px black;
    height: 100%;
    left: -200px;
    position: fixed;
    transition: all 500ms linear;
    width: 190px;
    z-index: 2; }
    #sidebar img {
      padding-bottom: 15px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      width: 42px; } }

#sidebar button {
  display: none; }
  @media (min-width: 60rem) {
    #sidebar button {
      display: block; } }

.sidebar-links {
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 80px; }
  @media (min-width: 60rem) {
    .sidebar-links .sidebar-links {
      padding: 0px; }
      .sidebar-links .sidebar-links a {
        border-top: 0.2px solid rgba(100, 100, 100, 0.3);
        border-bottom: 1px solid rgba(100, 100, 100, 0.3);
        background-color: #4B4B4B;
        border-bottom: 1px solid #292929;
        color: #F6F7CD;
        display: flex;
        font-family: "Poppins", sans-serif;
        font-size: 12px;
        list-style: none;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: left;
        text-indent: 20px;
        text-decoration: none;
        width: 190px; } }

.sidebar-links img {
  width: 34px; }

.sidebar-links a {
  color: #F6F7CD;
  float: right;
  font-size: 14px;
  margin-left: 30px;
  padding-top: 5px;
  text-decoration: none; }
  .sidebar-links a:hover {
    text-decoration: underline; }

.blog {
  position: relative; }

.recipe {
  position: relative; }

.recipe-author {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  align-items: center; }
  @media (min-width: 60rem) {
    .recipe-author {
      margin-top: 10rem; } }

.recipe-author__description {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #264E2C;
  width: 65%; }
  .recipe-author__description h4 {
    margin: 0; }
  .recipe-author__description span {
    font-size: 1.5rem; }
  @media (min-width: 60rem) {
    .recipe-author__description {
      width: 45%; } }

.recipe-author__photo {
  display: inline-block; }

.recipe__title {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  margin-top: 3rem; }

.recipe__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin-top: 3rem; }

.recipe__links {
  display: block;
  margin-top: 1rem;
  position: absolute;
  right: 3rem; }
  .recipe__links img {
    width: 3rem; }

.recipe__links a + a {
  padding-left: 2rem; }

.recipe__description {
  font-size: 1.5rem;
  margin-top: 2rem; }

.recipe__description--top {
  margin-top: 8rem; }

@media (min-width: 60rem) {
  .recipe__description--left {
    width: 60%; } }

.discount__ad {
  float: right;
  background-color: #264E2C;
  border-radius: 0.3rem;
  width: 27.875rem;
  height: 16.25rem; }

.discount__ad__content {
  color: #F6F7CD;
  font-family: "Poppins", sans-serif;
  margin-left: 0.9rem; }
  .discount__ad__content h3 {
    font-size: 2rem; }
  .discount__ad__content a {
    color: #F6F7CD;
    background-color: #9DB33E;
    padding: 0.3rem 0.4rem 0.3rem 0.4rem;
    border-radius: 0.3rem; }
