.gallery {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  img {
    border-radius: 0.5rem;
    width: 80%;
    @media (min-width: 60rem) {
      width: 100%;
    }
  }
  @media (min-width: 60rem) {
    align-self: flex-end ;
    flex-direction: column;
    top: 25rem;
    right: 5rem;
    width: 30%;
  }
  margin-top: 3rem;
  position: absolute;
  right: 2rem;
  width: 90%;
}

.gallery__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  img {
    width: 100%;
  }
  @media (min-width: 60rem) {
    flex-direction: row;
    gap: 1.2rem;
    img {
      width: 31%;
      height: 31%;
    }
  }
}

