.gallery {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  img {
    border-radius: 0.5rem;
    width: 70%;
    @media (min-width: 60rem) {
      width: 100%;
    }
  }
  @media (min-width: 60rem) {
    flex-direction: column;
  }
  margin-top: 3rem;
  width: 90%;
}

.gallery__items {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  img {
    width: 90%;
  }
  @media (min-width: 60rem) {
    flex-direction: row;
    img {
      height: 70%;
    }
  }
}
