.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  width: 90%;
}

.header__menu {
  a {
    display: none;
  }
  @media (min-width: 60rem) {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    a {
      color: $primary-green;
      display: inline-block;
      font-size: $typo-m;
    }
  }

  .header__menu--icon {
    display: block;
    @media (min-width: 60rem) {
        display: none;
    }
  }
}

.header__menu a:hover {
  background-color: $green;
}

.active {
  border-bottom: .2rem solid $primary-green;
}
