.hero-background{
  width: 100%;
}

.seach-box{
  height: 83px;
}

.seach-box-input{
  margin-top: 1.5rem;
  height: 41px;
  border-radius: .16rem;
  border: none;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.404);
  outline: none;
  font-size: $typo-s;
  text-indent: 12px;
}

.seach-box-input::placeholder{
  color: rgb(189, 189, 189);
}

.recipe {
  position: relative;
}

.recipe__title{
  font-family: $typo-title;
  font-size: $typo-x;
  margin-top: 3rem;
}

.recipe__links{
  display: block;
  margin-top: 1rem;
  position: absolute;
  right: 3rem;
  img {
    width: 3rem;
  }
}

.recipe__links a+a{
  padding-left: 2rem;
}

.recipe__description{
  font-size: $typo-s;
  margin-top: 2rem;
}

.recipe__description--top{
  margin-top: 8rem;
}

.clearfix::after {

  clear: both ;
  content: "" ;
  display: table ;
}

.discount__ad {
  float: right;
  background-color: $primary-green;
  border-radius: 0.3rem;
  margin-right: 8rem;
  width: 27.875rem;
  height: 16.25rem;
}

.discount__ad__content {
  color: $white;
  font-family: $main-typo;
  margin-left: 0.9rem;

  h3 {
    font-size: $typo-m;
  }
  a {
    color: $white ;
    background-color: $green;
    padding: 0.3rem 0.4rem 0.3rem 0.4rem;
    border-radius: 0.3rem ;
  }
}